@import "variables.scss";

$red: rgb(255, 0, 0);
$black: rgb(74, 74, 74);
$white: white;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: arial;
    // color: $white;
    // background: grey;
}

main {
    padding: $s-md;
}

body>header {
    color: rgb(255, 255, 255);
    margin-top: $navHeight;
    width: 100%;
    background-color: red;
    height: $navHeight;
    padding: 10px;
    font-family: sans-serif;
    font-size: 27px;
}

.menu {
    display: flex;
}

.dropdown {
    margin: 0 $s-sm;
    color: inherit;
    // margin-top: $s-sm;
}

ul {
    list-style: none;
    position: fixed;
    top: 50px;
    right: 0;
    width: 150px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

li {
    background-color: transparent;
    margin: 10px;
}
// .menu-container {
//     display: flex;
//     flex-direction: column;
// }

.clickable {
    cursor: pointer;
    &:hover {
        border-bottom: solid 2px red;
    }
}

p {
    padding: $s-sm;
}

nav {
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $navHeight;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 30px;
        padding: 5px;
    }
}

a {
    color: black;
    text-decoration: none;
}

.hidden {
    display: none;
}

article {
    margin-bottom: $s-sm;
    img {
        width: 100%;
    }
    .content {
        padding: $s-md;
    }
    header {
        font-size: x-large;
        margin-bottom: $s-sm;
    }
    small {
        display: block;
        margin-top: 10px;
        color: #222222
    }
    time {
        margin-right: $s-sm;
    }
}

.articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $s-md;
}

@media only screen and (min-width: $breakPoint) {

    .articles {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    nav {
                
        justify-content: flex-start;

       li {
            height: $navHeight;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                border-bottom-color: rgb(255, 0, 0);
            }
       } 
       
       a {
            color: inherit;
            display: block;
            width: 100%;
            height: 25px;
        }
        
        ul {
            position: unset;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: $navHeight;
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);

            &.hidden {
                display: flex;
            }
        }

        .menu {
            position: unset;
            display: flex;
            justify-content: flex-start;
        }

        .dropdown {
            display: none;
        }
    }
}